<header class="${ require('../../../conf').prefix }-header">
  <div class="container-fluid">
    <nav id="mainNav">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <ul class="nav row list-unstyled justify-content-around align-items-center mb-0" role="tablist">
            <li class="col nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="col nav-item">
              <a class="nav-link" href="#moments">Moments</a>
            </li>
            <li class="col-auto">
              <a class="d-block ${ require('../../../conf').prefix }-logo"
                 href="${ require('../../../conf').BASE_URL }"><img class="img-fluid w-100"
                                                                    src="../../assets/images/logo.svg"
                                                                    alt="BellaTour"></a>
            </li>
            <li class="col nav-item">
              <a class="nav-link" href="#transportation">Transportation</a>
            </li>
            <li class="col nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
