<header class="${ require('../../../conf').prefix }-header">
  <div class="container-fluid">
    <nav id="mainNav" class="navbar navbar-expand-md justify-content-center">
      <div class="col-12 text-center">
        <div class="navbar-collapse collapse" id="${ require('../../../conf').prefix }NavbarCollapse">
          <ul class="nav row list-unstyled justify-content-between align-items-center mb-0 w-100" role="tablist">
            <li class="col nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="col nav-item">
              <a class="nav-link" href="#moments">Moments</a>
            </li>
            <li class="col">
              <div class="${ require('../../../conf').prefix }-logo">
                <a class="d-block" href="${ require('../../../conf').BASE_URL }"> <img src="../../assets/images/logo.svg" alt="">
                </a>
              </div>
            </li>
            <li class="col nav-item">
              <a class="nav-link" href="#transportation">Transportation</a>
            </li>
            <li class="col nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
