.#{$prefix}-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2000;
  transition: background-color 0.2s ease;
  .scrolled & {
    background-color: rgba(0, 0, 0, 0.75);
  }
  li {
    @include media-breakpoint-up(lg) {
      width: 150px;
    }
  }
  a {
    color: #ffffff;
    padding: 0;
    &.active {
      text-decoration: none;
      background: linear-gradient(73deg, rgba(0,203,231,1) 0%, #009CCB 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:not(.#{$prefix}-logo) {
      line-height: 150px;
      font-weight: 300;
    }
    @include hover-focus-active {
      text-decoration: none;
      background: linear-gradient(73deg, rgba(0,203,231,1) 0%, #009CCB 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }
  }
}

.#{$prefix}-logo {
  top: 0;
  left: 50%;
  margin-left: -50px;
  z-index: 2100;
  transition: 0.2s all ease-in-out;
  will-change: top;
  @include media-breakpoint-up(lg) {
    margin-left: -75px;
  }
  img, svg {
    width: 100px !important;
    height: 100px !important;
    display: block;
    @include media-breakpoint-up(lg) {
      width: 150px !important;
      height: 150px !important;
    }
  }
  .path-text {
    transition: 0.5s 0.2s all ease-in-out;
    will-change: transform, top;
    .is-loading & {
      transform: scale(0);
    }
  }
  .path-rounds {
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    .is-loading & {
      transform: rotate(17deg);
    }
  }
  .is-loading & {
    top: 50%;
    margin-top: -75px;
  }
}
