.#{$prefix}-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2000;
  transition: background-color 0.2s ease;
  .scrolled & {
    background-color: rgba(0, 0, 0, 0.75);
  }
  li {
    width: 150px;
  }
  a {
    color: #ffffff;
    padding: 0;
    &.active {
      color: $blue;
    }
    &:not(.#{$prefix}-logo) {
      line-height: 150px;
    }
    @include hover-focus-active {
      text-decoration: none;
      color: $blue;
    }
  }
}

.#{$prefix}-logo {
  top: 0;
  position: fixed;
  left: 50%;
  margin-left: -75px;
  z-index: 2100;
  transition: 0.2s all ease-in-out;
  will-change: top;
  img, svg {
    width: 150px !important;
    height: 150px !important;
    display: block;
  }
  .path-text {
    transition: 0.5s 0.2s all ease-in-out;
    will-change: transform, top;
    .is-loading & {
      transform: scale(0);
    }
  }
  .path-rounds {
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    .is-loading & {
      transform: rotate(17deg);
    }
  }
  .is-loading & {
    top: 50%;
    margin-top: -75px;
  }
  &:hover {
    .path-rounds {
      transform: scale(1.2);
    }
  }
}
