.#{$prefix}-content--section {
  min-height: 100vh;
  h2 {
    font-weight: 700;
  }
}

.masonry {
  .grid-item {
    padding: 5px !important;
  }
}


.btn {
  &.btn-primary {
    background: linear-gradient(73deg, rgba(0,203,231,1) 0%, #009CCB 100%);
    border-color: transparent;
  }
}
